#div-content-for-layout{overflow:auto;}
.div-left-column{float:left;width:250px;}
.div-right-column{margin-left:250px;}

.div-about-menus{margin:0 20px;padding:0 20px;}
.div-about-menus ul{font-size:1.1em;}
.div-about-menus ul li{padding:5px 10px;}
.div-about-menus ul li.current{font-weight:bold;}
.div-about-menus ul li.current a{font-weight:bold;}
.div-current-about{padding:0 30px;}
.div-current-about-text{text-align:justify;text-indent:30px;}