body {
    background: white;
}

root { 
    display: block;
}

h1 {
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: #333377;
}

#top-lg {
    text-align: center;
    background: white;
}

.div-image-lg {
    height: 100px;
}

.div-image-lg img {
    float: left;
    padding-left: 30px;
    padding-right: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

#admin-lg-text {
    padding: 0;
    margin: 0;
    line-height: 100px;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: #4444AA;
    background: transparent;
    border: none;
}

#admin-left-menu {
    float: left;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
}

/*#admin-left-menu ul {*/
#ul-admin-left-menu {
    margin: 14px 0px 14px 10px;
    padding-left: 25px;
}

#admin-left-menu ul li{
    padding: 3px 5px;
    margin-left: 0px;
    vertical-align: middle;
}

#admin-content {
    margin-left: 200px;
    padding-left: 3px;
}

.action {
    color: red;
    cursor: pointer;
}

.action:hover {
    color: blue;
}

.tr-special,
.tr-special td {
    background: #FFFFB0 !important;
}

.div-show-path {
    margin: 5px 0px;
    padding: 5px;
}

.div-show-path a:hover{
    color: blue !important;
    text-decoration: underline !important;
}

span.catalog-tree-sign {
font-size:14px;
padding-right:5px;
}
.treeview li.li-square {
list-style-type:square;
margin-left:30px;
padding-left:0;
}
.catalog-tree-name-level0 {
font-size:14px;
font-weight:bold;
}
.image-level-0 {
display:block;
height:40px;
left:0;
position:absolute;
top:0;
width:40px;
}
.catalog-tree-name-level1 {
font-size:12px;
font-weight:normal;
}
.catalog-tree-name-level2 {
font-size:11px;
font-weight:normal;
}
.catalog-tree-selected {
background-color:#E0E0EB;
}
#catalog-list {
font-size:12px;
font-weight:bold;
}
#catalog-list a {
color:black;
}
#catalog-list a:hover {
color:red;
}