*{margin:0;padding:0;}
body{background:#4a2f18;}
a {
    color: white;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a img {
    border: none;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

input {
    width: expression(this.type=='text'?'400px':'');
}

.clear-div {
    clear: both;
}

p {
  margin-bottom:1px;
  margin-top:1px;
}

.div-header {
    position: relative;
    /*background: #373637;*/
    height: 32px;
}

#div-content-for-layout {
    min-height: 250px;
}

.div-header-center {
    background: url(../img/caption-center-background-repeat.png) repeat;
    background: url(../img/caption-left-background.png) no-repeat right,
        url(../img/caption-right-background.png) no-repeat left,
        url(../img/caption-center-background-repeat.png) repeat;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;*/
}
h1.header,
h2.header,
h3.header,
h4.header {
    color: white;
}

h1.header,
h2.header,
h3.header,
h4.header,
h1.header a,
h2.header a,
h3.header a,
h4.header a {
    /*background: url(../img/header-center.png) no-repeat center #373637;*/
    width: 712px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;

    font-size: 16px;
    font-weight: bold;
    /*color: white;*/
}

h1.header span,
h2.header span,
h3.header span,
h4.header span,
h1.header a span,
h2.header a span,
h3.header a span,
h4.header a span {
    text-shadow: black 0px 2px 0px;
}

h1.header a:hover,
h2.header a:hover,
h3.header a:hover,
h4.header a:hover {
    text-decoration: underline;
}

/*pagination-table*/
.div-pagination {
    padding: 3px;
    background: url(../img/bronze-1-30.png) repeat-x top left #63583f;; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b49d66', endColorstr='#63583f'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b49d66), to(#63583f)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #b49d66,  #63583f); /* for firefox 3.6+ */
    text-shadow: black 1px -1px 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

table.pagination {
    font-family: tahoma;
    font-weight: normal;
    font-size: 14px;

    width: 100%;
    color: white;
}

table.pagination a {
    /*color: white;*/
    font-weight: bold;
}

table.pagination td{
    padding: 0;
    vertical-align: middle;
}

#pagination-count {
    width: 34%;
    margin: 3px;

    text-align: center;
}

#pagination-prev {
    width: 13%;

    text-align: right;
}

#pagination-pages {
    width: 20%;

    text-align: center;
}

#pagination-next {
    width: 13%;

    text-align: left;
}

#pagination-limit {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}

#pagination-input-limit {
    width: 120px;
    margin-top: 2px;
}

/**************************************/

/*Registr*/
#register-caption {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    margin-top: 4px;
}
/**************************************/

/*login*/
#user-login-form fieldset {
    width: 310px;
}

#user-login-form div.form {
    width: 320px;
}

#user-login-form label {
    width: 100px;
}

#user-login-form div.text input, #user-login-form div.password input {
    width: 290px;
}
/**************************************/

/*top*/
#div-top{background:#4a2f18 url(../img/top_background.jpg) repeat-x;position:relative;
    height:170px;}
#image-divan{display:block;height:170px;left:0;position:absolute;top:0;width:220px;}
#image-region-sib-mebel{display:block;height:60px;left:260px;position:absolute;
    top:54px;width:450px;}
#image-magazin-domashnego-yuta{display:block;height:30px;left:485px;position:absolute;
    top:121px;width:270px;}
#div-top-right{float:right;width:300px;text-align:center;}
#div-top-phone{color:#ffe8c5;font-family:Georgia,serif;font-size:30px;
    font-style:italic;padding-top:40px;}
#div-top-work-time{color:#ae8e62;font-family:"Trebuchet MS",sans-serif;
    font-size:16px;font-style:italic;font-weight:bold;}

/*menu*/
#top-menu{padding-bottom:20px;}
#bottom-menu{padding-top:20px;}
table.menu{height:41px;}
table.menu td{}
table.menu td a,table.menu td div.current-menu{font-family:"Trebuchet MS",sans-serif;
    font-size:21px;font-weight:bold;font-style:italic;
    height:41px;line-height:41px;margin:0 auto;text-align:center;width:208px;}
table.menu td div.current-menu{background:url(../img/menu_item_current.jpg)no-repeat;color:white;}
table.menu td a{background:url(../img/menu_item.jpg)no-repeat;color:#8a5400;display:block;}
table.menu td a:hover{background:url(../img/menu_item_hover.jpg)no-repeat;text-decoration: none;}


/*подвал*/
/******************************************/
.div-footer {
    /*background: url(../img/news-item-background.png) top left repeat-y,
        url(../img/special-item-background.png) top right repeat-y #c09155;
    -pie-background: url(../img/news-item-background.png) top left repeat-y,
        url(../img/special-item-background.png) top right repeat-y #c09155;*/
    /*background: url(../img/wood-background3.png) repeat;*/
    padding: 10px;
    /*-moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;*/

    color: white;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #303030;
}

.div-footer-left {
    float: left;
    width: 20%;
    padding: 5px;
    text-align: left;
}

.div-footer-right {
    float: right;
    width: 20%;
    padding: 5px;
    text-align: right;
}

.div-footer-info {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    padding: 0px 10px;
}

/*.div-footer-left a,
.div-footer-right a,
.div-footer-info a {
    color: white;
    text-decoration: none;
}

.div-footer-left a:hover,
.div-footer-right a:hover,
.div-footer-info a:hover {
    text-decoration: underline;
}*/
/******************************************/

/*options*/
/******************************************************************************/
.option-0 {
    font-size: 18px;
    font-weight: bold;
}

.option-1 {
    font-size: 14px;
    font-weight: bold;
}

.option-2 {
    font-size: 14px;
    font-weight: normal;
}

.option-3 {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.option-4 {
    font-size: 10px;
    font-weight: normal;
}
/******************************************************************************/

/*corners*/
/******************************************************************************/
.corners {
    float:left; /* также если мы знаем размеры, можно просто задать ширину и высоту */
    position:relative;/* чтобы внутри абсолютноспозиционированные элементы позиционировались относительно этого блока */
    z-index:1; /* на всякий случай, во избежание перекрытия масок, модальных окон и т.п. */
}
.corners img {
    float:left; /* чтобы в ие6 пропал трехпиксельный отступ у картинки */
}
.corners .c1 {
    width:22px;/* размеры нашего уголка */
    height:22px;
    position:absolute; /* соответствующее позиционирование */
    z-index:1;
    left:0;
    top:0;
    background:url(../img/c1-white-22.png);
}
.corners .c2 {
    width:22px;
    height:22px;
    position:absolute;
    z-index:1;
    right:0;
    top:0;
    background:url(../img/c2-white-22.png);
}
.corners .c3 {
    width:22px;
    height:22px;
    position:absolute;
    z-index:1;
    right:0;
    bottom:0;
    background:url(../img/c3-white-22.png);
}
.corners .c4 {
    width:22px;
    height:22px;
    position:absolute;
    z-index:1;
    left:0;
    bottom:0;
    background:url(../img/c4-white-22.png);
}

.corners .c1,
.corners .c2,
.corners .c3,
.corners .c4 {
    _behavior: expression( /* IE6 only - transparency with proper handling of relative URLs */
    this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1],
    this.style.background = "none",
    this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ")");
}
/******************************************************************************/

#dialog-made-custom-link a:hover {
    text-decoration: underline;
}

input[type=button],
input[type=submit],
input[type=reset] {
    cursor: pointer;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 4px;
    /*border: 1px solid black;*/
    background: #6f675c;
    background: url(../../img/bronze-1-30.png) repeat-x top left #63583f;; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b49d66', endColorstr='#63583f'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b49d66), to(#63583f)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #b49d66,  #63583f); /* for firefox 3.6+ */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px -3px 10px black;
    text-shadow: 0px -1px 1px black;
    color: white;
}

/******************************************************************************/
#div-user-login-dialog input[type=text],
#div-user-login-dialog input[type=password] {
    display: block;
    margin-left: 65px;
    width: 150px;
}

#div-user-login-dialog label {
    width: 60px;
    display: block;
    float: left;
}

#div-user-login-dialog div.submit {
    float: right;
}
/******************************************************************************/

.div-caption {
    background: url(../img/caption-center-background-repeat.png) repeat;
    background: url(../img/caption-left-background.png) no-repeat right,
        url(../img/caption-right-background.png) no-repeat left,
        url(../img/caption-center-background-repeat.png) repeat;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: black 0 2px 0;
}

.div-caption h1,
.div-caption h2,
.div-caption h3,
.div-caption h4 {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

ul.list-data {
    margin: 0;
    padding: 0;
    display: block;
}

ul.list-data li {
    margin: 0;
    padding: 0;
    display: block;
}