*{margin:0;padding:0;}
body{background:#4a2f18;color:#ffdc81;font-family:"Trebuchet MS",sans-serif;
    font-size:14px;
    min-width:1000px;
    width:expression((documentElement.clientWidth)>1000?'1000px':'auto');}
a{color:#ff7200;font-style:italic;text-decoration:none;}
a:hover{text-decoration:underline;}
a:focus{outline:none;}
a img{border:none;}
img{border:2px solid #956134;}
input{}
.clear-div{clear:both;}
p{text-indent:20px;}
h1{font-size:18px;font-weight:bold;font-style:italic;padding:3px 0 10px 0;}
h2{font-size:18px;font-weight:normal;font-style:italic;padding:3px 0 8px 0;}
h3{font-size:16px;font-weight:bold;font-style:italic;padding:3px 0 5px 0;}
h4{font-size:16px;font-weight:normal;font-style:italic;}
.div-message{background:#e2d49a;color:#9c4c05;font-weight:bold;margin:0 auto 10px;
    padding:5px;width:800px;text-align:center;
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.div-error{background:#e2c49a;color:#ab221f;font-weight:bold;margin:0 auto 10px;
    padding:5px;width:800px;text-align:center;
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.div-form{background:#714723;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
    margin:5px auto 0 auto;padding:10px;width:50%;}
.div-required .span-required{color:red;font-size:1.3em;}
div.input{padding-bottom:10px;overflow:auto;}
label{display:block;float:left;width:20%;}
input[type=text],input[type=password],select,textarea{background:#7d502a;
    border:1px solid #ee8a0d;color:#ffdc81;display:block;margin-left:20%;width:75%;}
div.submit{text-align:right;padding-right:5%;}
input[type=button],input[type=submit],input[type=reset]{background:#9e612d;
    border-width:2px;border-style:solid;
    border-top-color:#e2d0c0;border-right-color:#2e1204;
    border-left-color:#e2d0c0;border-bottom-color:#2e1204;
    color:#ffe5b9;cursor:pointer;font-style:italic;height:30px;
    text-align:center;padding:0 20px;
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

/*SLIMBOX*/
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;
    background:#000;cursor:pointer;}
#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;overflow:hidden;background:#fff;}
.lbLoading{background:#fff url(slimbox2/loading.gif) no-repeat center;}
#lbImage{position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat;}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none;}
#lbPrevLink{left:0;}
#lbPrevLink:hover{background:transparent url(slimbox2/prevlabel.gif) no-repeat 0 15%;}
#lbNextLink{right:0;}
#lbNextLink:hover{background:transparent url(slimbox2/nextlabel.gif) no-repeat 100% 15%;}
#lbBottom{font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;font-size:10px;
    color:#666;line-height:1.4em;text-align:left;border:10px solid #fff;border-top-style:none;}
#lbCloseLink{display:block;float:right;width:66px;height:22px;
     background:transparent url(slimbox2/closelabel.gif) no-repeat center;margin:5px 0;outline:none;}
#lbCaption,#lbNumber{margin-right:71px;}
#lbCaption{font-weight:bold;}

/*blockUI*/
.blockUI img{border:none;}

/*paginate*/
.table-paginate{padding:10px 20px;}
.paginate-prev{display:block;text-align:left}
.paginate-next{display:block;text-align:right;}
.div-paginate-numbers{text-align:center;}
.div-paginate-numbers .span-paginate-separator{padding-right:5px;}
.div-paginate-numbers .current{font-size:1.1em;font-weight:bold;}
.paginate-disabled{color:#907D4B;font-size:0.9em;font-style:italic;}

/*top*/
#div-top{background:#4a2f18 url(../img/top_background.jpg) repeat-x;position:relative;
    height:170px;}
#image-divan{display:block;height:170px;left:0;position:absolute;top:0;width:220px;}
#image-region-sib-mebel{display:block;height:60px;left:260px;position:absolute;
    top:54px;width:450px;}
#image-magazin-domashnego-yuta{display:block;height:30px;left:485px;position:absolute;
    top:121px;width:270px;}
#div-top-right{float:right;width:300px;text-align:center;}
#div-top-phone{color:#ffe8c5;font-family:Georgia,serif;font-size:30px;
    font-style:italic;padding-top:40px;}
#div-top-work-time{color:#ae8e62;font-size:16px;font-style:italic;font-weight:bold;}

/*menu*/
#top-menu{padding-bottom:20px;}
#bottom-menu{padding-top:20px;}
table.menu{height:41px;}
table.menu td{}
table.menu td a,table.menu td div.current-menu{background:url(../img/menu_item.jpg) #fee2b0;
    font-size:21px;font-weight:bold;font-style:italic;
    height:41px;line-height:41px;margin:0 auto;text-align:center;width:208px;}
table.menu td div.current-menu{background-position:0 -82px;color:white;}
table.menu td a{color:#8a5400;display:block;}
table.menu td a:hover{background-position:0 -41px;text-decoration:none;}

/*breadcrumb*/
.div-breadcrumb{margin:0 30px 5px 15px;text-align:right;}

/*footer*/
#footer{height:180px;margin-top:20px;}
.footer-left,.footer-right{height:100%;width:103px;}
.footer-left{background:url(../img/footer_left.jpg)no-repeat;float:left;}
.footer-right{background:url(../img/footer_right.jpg)no-repeat;float:right;}
.footer-center{background:url(../img/footer.jpg)repeat-x;font-size:14px;
    margin:0 103px;padding:20px 30px;}

/*content_for_layout*/
#div-content-for-layout{overflow:auto;}
.div-left-column{float:left;width:250px;}
.div-right-column{margin-left:250px;}
.div-right-column h1{margin-left:10px;}

/*basket*/
#div-basket{padding:0 20px 20px;}
#div-basket h2 a.link-basket-header{color:inherit;}
#div-basket h2 #link-clear-basket{font-size:0.6em;margin-left:10px;}
#div-basket .div-basket-products{font-style:italic;}
#div-basket .link-custom-order{display:block;font-size:1.2em;text-align:center;}

/*specials*/
.div-specials{padding:0 20px;}
.div-special{margin:0 0 20px 0;position:relative;}
.image-special{}
.link-add-special-to-basket{bottom:10px;font-size:16px;font-weight:bold;
    position:absolute;right:35px;}

/*news*/
.div-news{padding:0 20px;}
.div-news h2 a{color:inherit;}
.div-new{margin:0 0 20px 0;}
.link-new-stamp{font-weight:bold;}
.div-new-caption{}

.div-main-news{padding:0 30px;}
.link-main-new-stamp{font-weight:bold;}

.div-main-new{padding:0 30px;}
.div-main-new-stamp{font-weight:bold;}
.div-main-new-text{text-align:justify;text-indent:20px;}

/*about*/
.div-about-menus{margin:0 20px;padding:0 20px;}
.div-about-menus ul{font-size:1.1em;}
.div-about-menus ul li{padding:5px 10px;}
.div-about-menus ul li.current{font-weight:bold;}
.div-about-menus ul li.current a{font-weight:bold;}
.div-current-about{padding:0 30px;}
.div-current-about-text{text-align:justify;text-indent:30px;}

/*guestbook*/
.div-guestbook-add{float:right;margin:0 20px 0 0;;width:400px;}
.div-guestbooks{margin-right:440px;}
.div-guestbook{margin:0 0 15px 0;padding:0 10px;}
.div-guestbook-stamp{color:#907d4b;float:left;padding:0 5px 0 20px;}
.div-guestbook-name{}
.div-guestbook-text{background:#714723;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
    margin:2px 0 0 0;padding:10px;text-align:justify;}

/*partners*/
.div-partners{padding:0 30px;}
.div-partner{background:#714723;margin:0 0 20px 0;padding:10px 30px 15px 10px;overflow:auto;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.image-partner{float:left;margin:0 10px 0 0;}
.div-partner-text{text-align:justify;text-indent:20px;}

/*catalogs*/
.div-catalogs{overflow:auto}
.div-catalog{background:url(../../img/catalog_1.jpg)no-repeat top,
                        url(../../img/catalog_2.jpg)no-repeat bottom,
                        url(../../img/catalog_3.jpg)repeat-y;
    -pie-background:url(../../img/catalog_1.jpg)no-repeat top,
                    url(../../img/catalog_2.jpg)no-repeat bottom,
                    url(../../img/catalog_3.jpg)repeat-y;
    behavior:url(/htc/PIE.htc);
    float:left;margin:0 15px 10px 0;min-height:152px;padding:30px 35px 25px 35px;width:395px;}
.div-catalog h2{color:#4d3119;font-size:21px;font-weight:bold;font-style:italic;}
.div-catalog h2 a{color:inherit;}
.div-catalog .div-product{float:left;position:relative;width:130px;}
.div-catalog .div-product .link-product-zoom{position:absolute;top:-5px;right:10px;}
.div-catalog .div-product .image-product{width:120px;}

/*products*/
#div-products{overflow:auto;}
#div-products .div-product{background:url(../../img/product_1.jpg)no-repeat top,
                                      url(../../img/product_2.jpg)no-repeat bottom,
                                      url(../../img/product_3.jpg)repeat-y;
    -pie-background:url(../../img/product_1.jpg) no-repeat top,
                    url(../../img/product_2.jpg) no-repeat bottom,
                    url(../../img/product_3.jpg) repeat-y;
    behavior:url(/htc/PIE.htc);
    float:left;margin:0 18px 10px 0;min-height:125px;padding:40px 30px 25px 30px;width:159px;}
#div-products .link-product-name{color:#df6100;display:block;font-size:21px;
    font-weight:bold;text-align:center;}
#div-products .div-product-image{margin:0 auto;position:relative;width:120px;}
#div-products .div-product-image .link-product-zoom{position:absolute;top:-5px;right:-10px;}
#div-products .image-product{width:120px;}
/*#div-products .div-product .select-product-det{margin:10px 0 0 0;width:100%;}*/

#div-product h1{margin-left:40px;}
#div-product .div-product-image{margin-left:40px;overflow:auto;}
#div-product .image-product{float:left;margin-right:10px;}
#div-product .div-product-images{}
#div-product .link-product-image{float:left;margin-right:10px;}
#div-product .link-product-image img{border:2px solid #956134;}
#div-product .div-product-about{padding:20px;text-align:justify;text-indent:20px;}
#div-product .div-product-order{font-size:1.1em;margin:0 0 0 40px;width:300px;}
#div-product .label{float:left;text-align:left;width:200px;}
#div-product .value{margin-left:200px;text-align:right;}
#div-product .div-product-det{overflow:auto;}
#div-product .div-product-det .label{width:100px;}
#div-product .div-product-det .value{margin-left:100px;}
#div-product #select-product-det-id{margin:0;width:100%;}
#div-product .div-wrong-price{text-decoration:line-through;}
#div-product .div-wrong-price .price{font-size:1em !important;font-weight:normal !important;}
#div-product .div-product-order .price{font-size:1.2em;font-weight:bold;}
#div-product .div-product-price{}
#div-product .div-product-opt-price{}
#div-product .div-product-count .value{text-align:right;}
#div-product .div-product-count #input-product-count{margin:0;text-align:right;width:100%;}
#div-product .div-product-order div.submit{padding:0;text-align:center;}
#div-product .div-product-order div.submit input[type=submit]{font-size:1.1em;}

/*basket*/
#div-custom-order .div-form{margin:5px 0 0 10px;width:700px;}
#div-custom-order .table-basket{font-size:1.1em;}
#div-custom-order .table-basket td{padding-bottom:10px;}
#div-custom-order .table-basket .td-name{width:55%}
#div-custom-order .table-basket .td-price{text-align:center;width:17%}
#div-custom-order .table-basket .td-count{text-align:center;width:10%;}
#div-custom-order .table-basket .td-count input{display:inline;margin:0;width:50%;text-align:right;}
#div-custom-order .table-basket .td-sum{text-align:right;width:18%;}
#div-custom-order .table-basket .link-product-name{font-size:1.2em;font-weight:bold;}
#div-custom-order .table-basket .div-catalog-breadcrumbs{font-size:0.7em;}
#div-custom-order .div-all-sum{font-size:1.2em;padding:3px 20px;text-align:right;}
#div-custom-order .div-all-sum .span-all-sum{font-size:1.1em;font-weight:bold;}
#div-custom-order .table-person-info td{padding-bottom:10px;}
#div-custom-order .table-person-info input{margin:0;width:100%;}
#div-custom-order .table-person-info div.input{padding:0 10px 0 0;}
#div-custom-order .table-person-info .error-message{color:yellow;margin:0;text-align:center;}
#div-custom-order .div-company-info label{width:26%;}
#div-custom-order .div-company-info input[type=text],select{margin-left:26%;width:73%;}
#div-custom-order .div-company-info .error-message{color:yellow;margin-left:26%;
    text-align:center;width:73%;}
#div-custom-order .table-company-info td{padding-bottom:10px;}
#div-custom-order .table-company-info input[type=text]{margin:0;width:100%;}
#div-custom-order .table-company-info div.input{padding:0 10px 0 0;}
#div-custom-order .div-price{font-size:1.2em;margin-left:365px;width:300px;}
#div-custom-order .div-price .div-transport-price,
#div-custom-order .div-price .div-itogo{overflow:auto;}
#div-custom-order span.price{float:right;font-size:1.1em;font-weight:bold;
    width:130px;text-align:right;}