h1 {
  text-align: center;
}

div.submit {
    padding-right: 0px;
    text-align: right;
}

label {
    width: 30%;
}

.error-message {
  color: yellow;
  margin-left:30%;
  text-align:center;
  width:60%;
}

input[type="text"], input[type="password"], select, textarea {
    width: 60%;
}

#ClientInfoPhoneKod,
#ClientInfoFaxKod{
  width: 50px;
  margin-left: 0px;
}
#ClientInfoPhone,
#ClientInfoFax{
  margin-left: 0px;
}

.div-register-button {
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  margin-top: 5px;
}