#div-content-for-layout{overflow:auto;}
.div-left-column{float:left;width:250px;}
.div-right-column{margin-left:250px;}

/*specials*/
.div-specials{padding:0 20px;}
.div-special{margin:0 0 20px 0;position:relative;}
.image-special{}
.link-add-special-to-basket{bottom:10px;font-size:16px;font-weight:bold;
    position:absolute;right:35px;}

/*news*/
.div-news{padding:0 20px;}
.div-news h2 a{color:inherit;}
.div-new{margin:0 0 20px 0;}
.link-new-stamp{font-weight:bold;}
.div-new-caption{}

/*catalogs*/
.div-catalogs{overflow:auto}
.div-catalogs h1{padding-left:40px;}
.div-catalog{background:url(../../img/catalog.jpg)no-repeat;float:left;height:/*189*/144px;
    margin:0 15px 10px 0;padding:30px 35px 15px 35px;width:/*465*/395px;}
.div-catalog h2{color:#4d3119;font-size:21px;font-weight:bold;font-style:italic;}
.div-catalog h2 a{color:inherit;}
.div-product{float:left;width:130px;}