.table-image {
    cursor: pointer;
}

.load-image {
    display: none;
}

#home_news-list-table td {
  font-weight: bold;
}
#home_news-list-table h1 {
  font-size: 12px;
}
.home_news_header {
    color: red;
}