.section-caption {
  font-weight: bold;
}
.section-body {
  padding-left: 20px;
}

.fDesignOrder {
  margin-top: 10px;
}

.fDesignOrder legend {
  color: red;
  font-weight: bold;
}

#fDesignOrderDet legend {
  color: black;
}

.table-image {
    cursor: pointer;
}
.submit {
  float:left;
  width: 150px;
}
#divCancel {
  /*text-align: center;
  width:170px;*/
  margin-left: 150px;
}
#admin-content hr{
  margin-top: 5px;
  margin-bottom: 5px;
}