#div-content-for-layout{overflow:auto;}
.div-left-column{float:left;width:250px;}
.div-right-column{margin-left:250px;}

/*specials*/
.div-specials{padding:0 20px;}
.div-special{margin:0 0 20px 0;position:relative;}
.image-special{}
.link-add-special-to-basket{bottom:10px;font-size:16px;font-weight:bold;
    position:absolute;right:35px;}

/*news*/
.div-news{padding:0 20px;}
.div-news h2 a{color:inherit;}
.div-new{margin:0 0 20px 0;}
.link-new-stamp{font-weight:bold;}
.div-new-caption{}

.div-main-news{padding:0 30px;}
.link-main-new-stamp{font-weight:bold;}